/* -yellow: #f2d84b;
    --primary-core-blue: #0357ee;
    --primary-dark-10: #0349c6;
    --primary-dark-30: #022c77;
    --primary-dark-blue: #031335;
    --primary-light-blue: #b7cffa;
    --primary-light-10: #3679f1;
    --primary-light-40: #cfdffc;
    --primary-light-50: #ecf2fe;
    --dark-navy-dark-10: #081c48;
    --dark-navy-dark-20: #030b1d;
    --dark-navy-00: #092256;
    --dark-navy-light-10: #3e588e;
    --dark-navy-light-20: #8391af;
    --dark-navy-light-30: #05112b;
    --dark-navy-light-40: #c3c9d5;
    --dark-navy-light-50: #f9fafb;
    --secondary-dark-navy: #092256;
    --secondary-light-blue: #c4e9fd;
    --light-blue-00: #c4e9fd;
    --light-blue-light-30: #edf8fe;
    --light-blue-light-30: #e1f4fe;
    --light-blue-light-40: #ebf8fe;
    --light-blue-light-50: #f3fbff;
    --light-grey-100: #dcdfe6;
    --light-grey-10: #dcdfe638;
    --text-secondary: #8490aa; */

@font-face {
    font-family: Poppins-bold;
    src: url('/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-regular;
    src: url('/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-medium;
    src: url('/Poppins/Poppins-Medium.ttf');
}

* {
    font-family: Poppins-regular;
}

h1 { 
    font-family: Poppins-bold;
}

h2, h3, h4, h5, h6 {
    font-family: Poppins-medium;
}

p {
    font-size: 18px;
}

#root {
    background: linear-gradient(180deg, #b6def4 0%, #e4f8fe 90%, #c4e9fd 100%);
}

nav {
    color: #ecf2fe;
    height: 71px;
}

.navbar-nav .nav-link {
    color: white;
}

button {
    background: #b7cffa !important;
    color: black !important;
}

button:hover {
    background-color: #84affe !important;
    scale: 1.1;
}

button:focus {
    background-color: #2f57a1 !important;
    color: white !important;
}

button:active {
    background-color: #052577 !important;
}

.offcanvas-body {
    height: 100%;
    background-color: #031335;
}

.mobile.navbar-nav {
    font-size: 22px;
}

.mobile.navbar-nav .nav-item {
    margin-bottom: 20px;
}

.hero-section, nav {
    background: #031335 !important;
}

.hero-section, .offers {
    padding: 3% 5%;
}

.hero-section {
    margin-top: 71px;
    height: 580px;
    overflow: hidden; 
    border-bottom-right-radius: 100% 100px;
    border-bottom-left-radius: 100% 100px;
    color: #ecf2fe;
    position: relative;
    z-index: 1;
}

.hero-section .row {
    position: relative;
    z-index: 1; 
}

.hero-section .rounded-pill {
    width: 400px;
    text-align: center;
    padding: 10px;
    background-color: rgba(223, 239, 255, 0.2);
    backdrop-filter: blur(60px);
}

#heart {
    width: 30px;
    height: 30px;
    color: #7386b0;
}

.rounded-pill, .text p {
    margin-bottom: 30px;
}

.text h1 {
    font-size: 37px;
}

.text p {
    margin-top: 20px;
}

.rounded-pill span {
    margin-left: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.text {
    padding-top: 9%;
}

.image {
    width: 50% !important;
    height: 500px !important;
}

.imagebox {
    width: 80%;
    height: 70%;
    margin: auto;
}

#secondImg {
    width: 100%;
    height: 100%;
}

.about {
    height: 500px;
    background-color: #f3f9fd;
    position: relative;
    bottom: 50px;
    display: block;
}

.about-text {
    padding: 15% 5%;
}

.about-text p {
    width: 78%;
    margin-bottom: 10%;
}

.wave-div {
    width: 100%;
    height: 100px;
    background-image: url("/images/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: 172px;
}

section.offers {
    padding-top: 5%;
}

.offers h1, .offers h2, .offers h3, .offers h4, .about {
    color: #051a47;
}

.offers span, .offers p, .about-text p {
    color: #4b4f56;
}

.items div {
    padding: 50px;
    background-color: white;
    border-radius: 15px;
    width: 49%;
    height: 350px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: 280px; /* Set the size of the background image */
    background-position: bottom right; /* Position the image at the bottom right */
}

.items div a {
    color: #031335;
}


.first-level {
    position: relative;
    top: 30px;
}

.first-level.happy-woman {
    background-size: 210px;
}

.trusted{
    padding-top: 60px;
    padding-bottom: 30px;
}

.trusted h1 {
    color: #011339;
    font-family: poppins-regular;
    text-align: center;
}

.trusted h1 span {
    color: #0b51e8;
}

.trusted .parent-cont {
    background: #f5f9fc;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 20px;
}

.child-cont {
    display: flex;
    padding: 10px;
    width: 30%;
}

.child-cont div {
    margin-left: 10px;
}

.investors {
    background: #f5f9fc;
    border-radius: 15px;
    margin-top: 50px;
}

.investors .start {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.investors .start p {
    width: 50%;
}

.carousel-container {
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    animation: scroll 20s ease-in-out infinite;
}

#assest {
    width: 300px;
}
.logos {
    flex-shrink: 0;
    width: 150px;
    height: 75px;
    margin: 0 10px;
}

.blank{
    background: white;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}


.join-us {
    background: #0b51e8 !important;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px;
}

.join-us div {
    background-color: white;
    border-radius: 15px;
    position: relative;
    bottom: 130px;
    z-index: 1;
}

.join-us div h3 {
    font-family: monospace;
    font-weight: bold;
    margin-top: 10px;
}

.join-us div .joinImg {
    width: 100%;
}

@keyframes scroll {
    0% {
        transform: translatex(10%);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-100%);
    }
}

footer {
    background: #011339 !important;
    color: #ecf2fe;
    padding-top: 70px;
    padding-left: 20px;
}

.moniepoint {
    width: 150px;
    margin-bottom: 20px;
}

.download{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.apple, .playstore {
    display: flex;
    margin-left: 25px;
    background: black;
    width: 32%;
    padding-top: 1px;
}

.getIt p {
    position: relative;
    top: 15px;
}

footer ul li {
    list-style: none;
    margin-bottom: 15px;
}

.firstBar {
    display: flex;
}

.footerAbout #description {
    width: 58%;
    text-align: left;
}

.navbar-toggler, button.btn-close {
    background: none !important;
}

button.btn-close {
    color: #011339 !important;
    /* background-color: #011339 !important; */
}

::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 30px #011339; 
}

::-webkit-scrollbar-thumb {
    background-color: #0e46bf;
    border-radius: 15px; 
    min-height: 10px !important; 
    height: 10px !important; 
}

@media screen and (max-width: 992px) {
   .desktop.navbar-nav, .signup {
        display: none !important;
   }

   .rounded-pill {
        width: 75% !important;
   }

   .hero-section h1, .hero-section p {
        width: 75%;
   }

   .hero-section {
        height: 750px;
   }

   .image {
        height: 500px !important;
        margin: auto;
    }

    .imagebox {
        width: auto;
        height: auto;
    }

    .items div {
        width: 100%;
    }

    .items .first-level {
        margin-bottom: 100px;
    }

    .trusted .parent-cont {
        justify-content: start;
        align-items: center;
        height: 400px;
    }

    .blank {
        height: 400px;
    }

    .join-us {
        height: 960px;
    }
    
    .join-us div {
        bottom: 330px;
        margin-left: 16px;
        width: 700px ;
        height: 500px auto;
        margin-bottom: 20px;
        
    }

    .joinImg {
       height: 400px auto !important;
    }

    .firstBar ul {
        width: 50%;
        padding-top: 10%;
    }

    .join-us button {
        width: 30% !important;
        text-align: center;
    }

}

@media only screen and (max-width: 610px) {
    .hero-section h1, .hero-section p {
        width: 100%;
    }

    .rounded-pill {
        width: 100% !important;
    }

    .hero-section {
        height: 500px;
    }

    .offers {
        padding-top: 100px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .join-us {
        margin: 0;
        height: 550px;
    }

    .join-us button {
        width: 50% !important;
    }

    .joinImg {
        height: auto;
    }

    .join-us div {
        width: 100% !important;
    }

    .investors .start {
        flex-direction: column;
    }

    .investors .start p {
        width: 100%;
        padding-bottom: 30px;
    }

   .image {
        display: none;
    }

    .items div {
        height: 550px;
    }

    .footerAbout p {
        width: 100% !important;
    }

    .download div {
        width: 100%;
        margin: 0;
    }
}

/* Hide the offcanvas by default on all screen sizes */
.offcanvas {
    display: none !important;
  }
  
  /* Show the offcanvas only on smaller screens (when the navbar-toggler button is clicked) */
  @media (max-width: 767px) {
    .offcanvas {
      display: block !important; /* Show offcanvas when mobile toggle button is clicked */
    }
  }
  

  /* about */

.intro h2 {
    color: #011339;
}


.intro, .others, .features, .properties {
    padding: 100px 5%;
}
  
.intro, .others {
    width: 100.7%;
}

.intro {
    position: relative; /* Needed for the pseudo-element */
    background: url("../public/images/moneyy.png") no-repeat;
    background-color: rgba(245, 249, 252, 0.8); /* Background color with opacity */
    padding-top: 160px;
    background-position: right bottom;
    background-size: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* To contain the pseudo-element */
}

@media only screen and (max-width: 610px) { 

    .intro {
        background-image: none;
    }
}

.intro > * {
    position: relative; /* Ensures child elements are above the overlay */
    z-index: 1; /* Places content above the pseudo-element */
}

.intro button {
    width: 200px;
    height: 50px;
}

.others {
    height: auto;
    background-color: #0b51e8;
    display: flex !important;
    justify-content: center;
    gap: 35px;
}




.features {
    width: 550px !important;
    width: 550px !important;
    background-color: #f5f9fc;
    border-radius: 15px;
    padding-left: 30px !important;
}

.features p {
    color: #4b4f56;
}

.properties {
    background-color: #f5f9fc;
}

.the-offers {
    width: 200px !important;
    height: 50px;
    margin-left: 10px;
    background-color: #7386b0;
    border-radius: 15px;
    text-align: center;
    border: none;
}

.top {
    width: 100%;
    height: 80vh;
    position: relative;
    background-color: #f5f9fc;
    padding: 10% 5%;
}

.bottom {
    position: relative;
    bottom: 55px;
    width: 100%;
    height: 95vh;
}

.top h3, .user-form h5 {
    color: #011339;
}

.top h3 {
    text-align: center;
}

.contact-wave {
    width: 100%;
    height: 100px;
    background-image: url("/images/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.user-form {
    width: 43%;
    position: absolute;
    top: 40%;
    left: 28%;
    background-color: #f5f9fc;
    z-index: 1;
    box-shadow: 0 4px 8px 0 #cbdfef, 0 2px 5px 0 rgba(200, 216, 249, 0.959);
    padding: 3% 2%;
    border-radius: 15px;
}

.user-form input, label, textarea, button {
    margin-top: 10px !important;
}

.submit {
    float: right;
    margin-top: 50px !important;
}
